*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
}
.container{
    width: 505px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    height:125px;
    width: 125px;
}
.card img{
    position: absolute;
    height:100%;
    width: 100%;
    border: 2px solid black;
}

.back {
    z-index: 10;
}

.front {
    z-index: 1;
}

.flipped{
    z-index: 100;
}